<header>
  <h1>tinyApp Project</h1>
<% if (!login) { %>
  <form method="POST" action="/login">
  <input type="submit" value="Login" />
  <input type="text" name="username"/>
  </form>
<%} %>

<a href="/register"></a>

</header>
