
<header>
  <h1>tinyApp Project</h1>

<% if (!user){ %>
  <h4><a href="/login">Log In</a></h4>
  <h4><a href="/register">Are you new, here? Come Join Us!</a></h4>

<%} else { %>
  <h>Hi, <%=user['email']%>, Welcome Back!</h>
  <form method="POST" action="/logout">
  <input type="submit" value="Logout" />
  </form>
<% } %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>urlSpeeedDial</h1>
        </div>
    </div>

</div>
</main>

</body>
</html>
