// shows one page not a list of all the urls
//id == type the url of the site you want to tinyApp ()

// ad 2 new elements text and input button

<html lang='en'>
<head>
  <title>urlSpeeedDial</title>
</head>

<body><li><%=shortURL%></li><li><%=longURL%></li></body>
  <form method="POST" action="/urls/<%=shortURL%>">
    <input type="text" name = "newURL" placeholder="Do you need to edit <%=longURL%>?" size="100"/>
     <input type="submit" value="Update" />

  </form>


</body>

</html>
