<html lang='en'>
<head>
  <title>urlSpeeedDial</title>
  <p>

  </p>urlSpeeedDial, Log in!</p>

</head>

<body>
  <h1>Welcome</h1>
    <form method="POST" action="/login">
      <h4>Enter Your Login email, please.
        <input type="text" name="email" value="user@example.com"/>
      </h4>
      <h4>Enter Your Password, Please.
        <input type="text" name="password" value="purple-monkey-dinosaur" />
      </h4>
      <div>
          <input type="submit" value="Login" />
      </div>
    </form>

  <h3><a href="/urls/">Any other sites to shorten?</a></h3>
  <h3><a href="/register">Do you not have an account already Registered?</a></h3>
</body>
</html>
