// shows one page not a list of all the urls
//id == type the url of the site you want to tinyApp ()

//////????????????????? NOT WROKING!!!!
/////////// 500 error

<html lang='en'>
<head>
  <title>tinyApp</title>
</head>

<body><li><%=shortURL%></li> - <li><%=longURL%></li>
</body>

</html>
