// shows one page not a list of all the urls
//id == type the url of the site you want to tinyApp ()

// ad 2 new elements text and input buttona

<html lang='en'>
<head>
  <title>tinyApp</title>
</head>

<body><li><%=shortURL%></li> - <li><%=longURL%></li>
  <form method="POST" action="/urls">
    <input type="text" placeholder="<%=longURL%>"/> <input type="submit" value="Update" />
  </form>

</body>

</html>
