<html lang='en'>
<head>
  <title>urlSpeeedDial</title>
  <p>

  </p>urlSpeeedDial, Log in!</p>

</head>

<body>
  <h1>Welcome</h1>
  <% if (!login){ %>
    <form method="POST" action="/login">
    <input type="submit" value="Login" />
    <input type="text" name="username" />
    <input type="text" name="password" />
    </form>
  <%} else{ %>
    <form method="POST" action="/logout">
    <input type="submit" value="Logout" />
    </form>
  <% } %>
  <a href="/urls/">Any other sites to shorten?</a>
</body>
</html>
