<html lang='en'>
<head>
  <title>urlSpeeedDial</title>
  <p>Welcome to urlSpeeedDial, Sign Up Here!</p>
</head>
<body>
  <form action="/urls" method="POST" >
    <label><b>Type Your Email Below</b></label>
    <input type="text" placeholder="Email, Please" name="email" required />
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required />
    <label><b>Type the password, again, please.</b></label>
    <input type="password" placeholder="Re-type Password" name="pass2" required />
    <div class="clearfix">
         <button type="button" class="cancelbtn">Cancel</button>
         <button type="submit" class="signupbtn">Sign Up</button>
       </div>
  </form>
</body>
</html>
